<mat-card class="example-card card-chat">
    <span class="card-chat__title">Letras chutadas</span>
    <div class="card-chat__container">
      <mat-card-content class="card-chat__content">
      <mat-list class="card-chat__content--listContainer" role="list">
        <p class="card-chat__content--listContainer">Item 1</p>
        <mat-divider class="card-chat__content--listContainer-divider"></mat-divider>
        <p class="card-chat__content--listContainer">Item 2</p>
        <mat-divider class="card-chat__content--listContainer-divider"></mat-divider>
        <p class="card-chat__content--listContainer">Item 3</p>
        <mat-divider class="card-chat__content--listContainer-divider"></mat-divider>
      </mat-list> 
    </mat-card-content>
    <mat-card-actions class="card-chat__actions">
        <mat-form-field appearance="fill" class="example-full-width card-chat__actions--input">
          <mat-label class="card-chat__actions--label">First name</mat-label>
          <input matInput>
        </mat-form-field>
      <button mat-icon-button class="card-chat__actions--sendButton" aria-label="Example icon-button with menu icon">
        <mat-icon class="card-chat__actions--sendButton_icon">send</mat-icon>
      </button>
    </mat-card-actions>
    </div>
</mat-card>
