.header {
  justify-content: space-between !important;
  background-color: var(--backgroundColor);
}

.example-spacer {
  flex: 1 1 auto;
}

.sidebar--button {
  border: none;
  margin-right: 10px;
  color: var(--title);
  &:hover {
    background-color: var(--iconHover);
  }
}